{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai 2", cursive;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #262626;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
}
nav a {
  color: white;
  text-decoration: none;
}
a:hover {
  background-color: rgb(22, 22, 94);
  border-radius: 10px;
  padding: 10px;
}